<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxsh.dao.IGoodsDao" >
  <resultMap id="BaseResultMap" type="com.lxsh.model.Goods" >
    <id column="gid" property="gid" jdbcType="INTEGER" />
    <result column="gname" property="gname" jdbcType="VARCHAR" />
    <result column="gprice" property="gprice" jdbcType="DOUBLE" />
    <result column="gtype" property="gtype" jdbcType="VARCHAR" />
    <result column="gnumber" property="gnumber" jdbcType="INTEGER" />
    <result column="gsalenum" property="gsalenum" jdbcType="INTEGER" />
    <result column="gcontext" property="gcontext" jdbcType="VARCHAR" />
    <result column="gdate" property="gdate" jdbcType="DATE" />
    <result column="gnow" property="gnow" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    gid, gname, gprice, gtype, gnumber, gsalenum, gcontext, gdate, gnow
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where gid = #{gid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where gid = #{gid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lxsh.model.Goods" >
    insert into goods (gid, gname, gprice, 
      gtype, gnumber, gsalenum, 
      gcontext, gdate, gnow)
    values (#{gid,jdbcType=INTEGER}, #{gname,jdbcType=VARCHAR}, #{gprice,jdbcType=DOUBLE}, 
      #{gtype,jdbcType=VARCHAR}, #{gnumber,jdbcType=INTEGER}, #{gsalenum,jdbcType=INTEGER}, 
      #{gcontext,jdbcType=VARCHAR}, #{gdate,jdbcType=DATE}, #{gnow,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.lxsh.model.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        gid,
      </if>
      <if test="gname != null" >
        gname,
      </if>
      <if test="gprice != null" >
        gprice,
      </if>
      <if test="gtype != null" >
        gtype,
      </if>
      <if test="gnumber != null" >
        gnumber,
      </if>
      <if test="gsalenum != null" >
        gsalenum,
      </if>
      <if test="gcontext != null" >
        gcontext,
      </if>
      <if test="gdate != null" >
        gdate,
      </if>
      <if test="gnow != null" >
        gnow,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="gname != null" >
        #{gname,jdbcType=VARCHAR},
      </if>
      <if test="gprice != null" >
        #{gprice,jdbcType=DOUBLE},
      </if>
      <if test="gtype != null" >
        #{gtype,jdbcType=VARCHAR},
      </if>
      <if test="gnumber != null" >
        #{gnumber,jdbcType=INTEGER},
      </if>
      <if test="gsalenum != null" >
        #{gsalenum,jdbcType=INTEGER},
      </if>
      <if test="gcontext != null" >
        #{gcontext,jdbcType=VARCHAR},
      </if>
      <if test="gdate != null" >
        #{gdate,jdbcType=DATE},
      </if>
      <if test="gnow != null" >
        #{gnow,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxsh.model.Goods" >
    update goods
    <set >
      <if test="gname != null" >
        gname = #{gname,jdbcType=VARCHAR},
      </if>
      <if test="gprice != null" >
        gprice = #{gprice,jdbcType=DOUBLE},
      </if>
      <if test="gtype != null" >
        gtype = #{gtype,jdbcType=VARCHAR},
      </if>
      <if test="gnumber != null" >
        gnumber = #{gnumber,jdbcType=INTEGER},
      </if>
      <if test="gsalenum != null" >
        gsalenum = #{gsalenum,jdbcType=INTEGER},
      </if>
      <if test="gcontext != null" >
        gcontext = #{gcontext,jdbcType=VARCHAR},
      </if>
      <if test="gdate != null" >
        gdate = #{gdate,jdbcType=DATE},
      </if>
      <if test="gnow != null" >
        gnow = #{gnow,jdbcType=BIT},
      </if>
    </set>
    where gid = #{gid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxsh.model.Goods" >
    update goods
    set gname = #{gname,jdbcType=VARCHAR},
      gprice = #{gprice,jdbcType=DOUBLE},
      gtype = #{gtype,jdbcType=VARCHAR},
      gnumber = #{gnumber,jdbcType=INTEGER},
      gsalenum = #{gsalenum,jdbcType=INTEGER},
      gcontext = #{gcontext,jdbcType=VARCHAR},
      gdate = #{gdate,jdbcType=DATE},
      gnow = #{gnow,jdbcType=BIT}
    where gid = #{gid,jdbcType=INTEGER}
  </update>
</mapper>