<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxsh.dao.IGoodsDao" >
  <resultMap id="BaseResultMap" type="com.lxsh.model.Goods" >
    <id column="gid" property="gid" jdbcType="INTEGER" />
    <result column="gname" property="gname" jdbcType="VARCHAR" />
    <result column="bid" property="bid" jdbcType="INTEGER" />
    <result column="gprice" property="gprice" jdbcType="DOUBLE" />
    <result column="gsid" property="gsid" jdbcType="INTEGER" />
    <result column="glid" property="glid" jdbcType="INTEGER" />
    <result column="gtid" property="gtid" jdbcType="INTEGER" />
    <result column="gsalenum" property="gsalenum" jdbcType="INTEGER" />
    <result column="gdate" property="gdate" jdbcType="DATE" />
    <result column="statusid" property="statusid" jdbcType="INTEGER" />
    <result column="gimage" property="gimage" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.lxsh.model.Goods" extends="BaseResultMap" >
    <result column="gcontext" property="gcontext" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    gid, gname, bid, gprice, gsid, glid, gtid, gsalenum, gdate, statusid, gimage
  </sql>
  <sql id="Blob_Column_List" >
    gcontext
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    where gid = #{gid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where gid = #{gid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lxsh.model.Goods" >
    insert into goods (gid, gname, bid, 
      gprice, gsid, glid, 
      gtid, gsalenum, gdate, 
      statusid, gimage, gcontext
      )
    values (#{gid,jdbcType=INTEGER}, #{gname,jdbcType=VARCHAR}, #{bid,jdbcType=INTEGER}, 
      #{gprice,jdbcType=DOUBLE}, #{gsid,jdbcType=INTEGER}, #{glid,jdbcType=INTEGER}, 
      #{gtid,jdbcType=INTEGER}, #{gsalenum,jdbcType=INTEGER}, #{gdate,jdbcType=DATE}, 
      #{statusid,jdbcType=INTEGER}, #{gimage,jdbcType=VARCHAR}, #{gcontext,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lxsh.model.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        gid,
      </if>
      <if test="gname != null" >
        gname,
      </if>
      <if test="bid != null" >
        bid,
      </if>
      <if test="gprice != null" >
        gprice,
      </if>
      <if test="gsid != null" >
        gsid,
      </if>
      <if test="glid != null" >
        glid,
      </if>
      <if test="gtid != null" >
        gtid,
      </if>
      <if test="gsalenum != null" >
        gsalenum,
      </if>
      <if test="gdate != null" >
        gdate,
      </if>
      <if test="statusid != null" >
        statusid,
      </if>
      <if test="gimage != null" >
        gimage,
      </if>
      <if test="gcontext != null" >
        gcontext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="gname != null" >
        #{gname,jdbcType=VARCHAR},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="gprice != null" >
        #{gprice,jdbcType=DOUBLE},
      </if>
      <if test="gsid != null" >
        #{gsid,jdbcType=INTEGER},
      </if>
      <if test="glid != null" >
        #{glid,jdbcType=INTEGER},
      </if>
      <if test="gtid != null" >
        #{gtid,jdbcType=INTEGER},
      </if>
      <if test="gsalenum != null" >
        #{gsalenum,jdbcType=INTEGER},
      </if>
      <if test="gdate != null" >
        #{gdate,jdbcType=DATE},
      </if>
      <if test="statusid != null" >
        #{statusid,jdbcType=INTEGER},
      </if>
      <if test="gimage != null" >
        #{gimage,jdbcType=VARCHAR},
      </if>
      <if test="gcontext != null" >
        #{gcontext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxsh.model.Goods" >
    update goods
    <set >
      <if test="gname != null" >
        gname = #{gname,jdbcType=VARCHAR},
      </if>
      <if test="bid != null" >
        bid = #{bid,jdbcType=INTEGER},
      </if>
      <if test="gprice != null" >
        gprice = #{gprice,jdbcType=DOUBLE},
      </if>
      <if test="gsid != null" >
        gsid = #{gsid,jdbcType=INTEGER},
      </if>
      <if test="glid != null" >
        glid = #{glid,jdbcType=INTEGER},
      </if>
      <if test="gtid != null" >
        gtid = #{gtid,jdbcType=INTEGER},
      </if>
      <if test="gsalenum != null" >
        gsalenum = #{gsalenum,jdbcType=INTEGER},
      </if>
      <if test="gdate != null" >
        gdate = #{gdate,jdbcType=DATE},
      </if>
      <if test="statusid != null" >
        statusid = #{statusid,jdbcType=INTEGER},
      </if>
      <if test="gimage != null" >
        gimage = #{gimage,jdbcType=VARCHAR},
      </if>
      <if test="gcontext != null" >
        gcontext = #{gcontext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where gid = #{gid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lxsh.model.Goods" >
    update goods
    set gname = #{gname,jdbcType=VARCHAR},
      bid = #{bid,jdbcType=INTEGER},
      gprice = #{gprice,jdbcType=DOUBLE},
      gsid = #{gsid,jdbcType=INTEGER},
      glid = #{glid,jdbcType=INTEGER},
      gtid = #{gtid,jdbcType=INTEGER},
      gsalenum = #{gsalenum,jdbcType=INTEGER},
      gdate = #{gdate,jdbcType=DATE},
      statusid = #{statusid,jdbcType=INTEGER},
      gimage = #{gimage,jdbcType=VARCHAR},
      gcontext = #{gcontext,jdbcType=LONGVARCHAR}
    where gid = #{gid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxsh.model.Goods" >
    update goods
    set gname = #{gname,jdbcType=VARCHAR},
      bid = #{bid,jdbcType=INTEGER},
      gprice = #{gprice,jdbcType=DOUBLE},
      gsid = #{gsid,jdbcType=INTEGER},
      glid = #{glid,jdbcType=INTEGER},
      gtid = #{gtid,jdbcType=INTEGER},
      gsalenum = #{gsalenum,jdbcType=INTEGER},
      gdate = #{gdate,jdbcType=DATE},
      statusid = #{statusid,jdbcType=INTEGER},
      gimage = #{gimage,jdbcType=VARCHAR}
    where gid = #{gid,jdbcType=INTEGER}
  </update>
</mapper>