<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxsh.dao.StatusMapper" >
  <resultMap id="BaseResultMap" type="com.lxsh.model.Status" >
    <id column="statusid" property="statusid" jdbcType="INTEGER" />
    <result column="statusname" property="statusname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    statusid, statusname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from status
    where statusid = #{statusid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from status
    where statusid = #{statusid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lxsh.model.Status" >
    insert into status (statusid, statusname)
    values (#{statusid,jdbcType=INTEGER}, #{statusname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lxsh.model.Status" >
    insert into status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="statusid != null" >
        statusid,
      </if>
      <if test="statusname != null" >
        statusname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="statusid != null" >
        #{statusid,jdbcType=INTEGER},
      </if>
      <if test="statusname != null" >
        #{statusname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxsh.model.Status" >
    update status
    <set >
      <if test="statusname != null" >
        statusname = #{statusname,jdbcType=VARCHAR},
      </if>
    </set>
    where statusid = #{statusid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxsh.model.Status" >
    update status
    set statusname = #{statusname,jdbcType=VARCHAR}
    where statusid = #{statusid,jdbcType=INTEGER}
  </update>
</mapper>