<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxsh.dao.ISubGoodsDao" >
  <resultMap id="BaseResultMap" type="com.lxsh.model.SubGoods" >
    <id column="gid" property="gid" jdbcType="INTEGER" />
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <id column="gsize" property="gsize" jdbcType="INTEGER" />
    <result column="gnum" property="gnum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    gid, cid, gsize, gnum
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.lxsh.model.SubGoodsKey" >
    select 
    <include refid="Base_Column_List" />
    from subgoods
    where gid = #{gid,jdbcType=INTEGER}
      and cid = #{cid,jdbcType=INTEGER}
      and gsize = #{gsize,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lxsh.model.SubGoodsKey" >
    delete from subgoods
    where gid = #{gid,jdbcType=INTEGER}
      and cid = #{cid,jdbcType=INTEGER}
      and gsize = #{gsize,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lxsh.model.SubGoods" >
    insert into subgoods (gid, cid, gsize, 
      gnum)
    values (#{gid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{gsize,jdbcType=INTEGER}, 
      #{gnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lxsh.model.SubGoods" >
    insert into subgoods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        gid,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="gsize != null" >
        gsize,
      </if>
      <if test="gnum != null" >
        gnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="gsize != null" >
        #{gsize,jdbcType=INTEGER},
      </if>
      <if test="gnum != null" >
        #{gnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxsh.model.SubGoods" >
    update subgoods
    <set >
      <if test="gnum != null" >
        gnum = #{gnum,jdbcType=INTEGER},
      </if>
    </set>
    where gid = #{gid,jdbcType=INTEGER}
      and cid = #{cid,jdbcType=INTEGER}
      and gsize = #{gsize,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxsh.model.SubGoods" >
    update subgoods
    set gnum = #{gnum,jdbcType=INTEGER}
    where gid = #{gid,jdbcType=INTEGER}
      and cid = #{cid,jdbcType=INTEGER}
      and gsize = #{gsize,jdbcType=INTEGER}
  </update>
</mapper>