<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxsh.dao.IUserDao" >
  <resultMap id="BaseResultMap" type="com.lxsh.model.User" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="upwd" property="upwd" jdbcType="VARCHAR" />
    <result column="paypwd" property="paypwd" jdbcType="INTEGER" />
    <result column="adress" property="adress" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, uname, upwd, paypwd, adress, tel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lxsh.model.User" >
    insert into user (uid, uname, upwd, 
      paypwd, adress, tel)
    values (#{uid,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, #{upwd,jdbcType=VARCHAR}, 
      #{paypwd,jdbcType=INTEGER}, #{adress,jdbcType=VARCHAR}, #{tel,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.lxsh.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="upwd != null" >
        upwd,
      </if>
      <if test="paypwd != null" >
        paypwd,
      </if>
      <if test="adress != null" >
        adress,
      </if>
      <if test="tel != null" >
        tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upwd != null" >
        #{upwd,jdbcType=VARCHAR},
      </if>
      <if test="paypwd != null" >
        #{paypwd,jdbcType=INTEGER},
      </if>
      <if test="adress != null" >
        #{adress,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxsh.model.User" >
    update user
    <set >
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upwd != null" >
        upwd = #{upwd,jdbcType=VARCHAR},
      </if>
      <if test="paypwd != null" >
        paypwd = #{paypwd,jdbcType=INTEGER},
      </if>
      <if test="adress != null" >
        adress = #{adress,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=DOUBLE},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxsh.model.User" >
    update user
    set uname = #{uname,jdbcType=VARCHAR},
      upwd = #{upwd,jdbcType=VARCHAR},
      paypwd = #{paypwd,jdbcType=INTEGER},
      adress = #{adress,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=DOUBLE}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <select id="login" resultMap="BaseResultMap" parameterType="com.lxsh.model.User" >
    select 
    <include refid="Base_Column_List" />
    from user
    where uname = #{uname,jdbcType=VARCHAR}
    and upwd = #{upwd,jdbcType=VARCHAR}
  </select>
  <select id="checkUserName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where uname = #{username,jdbcType=VARCHAR}
  </select>
   <insert id="register" parameterType="com.lxsh.model.User" >
    insert into user (uname, upwd, paypwd)
    values (#{uname,jdbcType=VARCHAR}, #{upwd,jdbcType=VARCHAR},  #{upwd,jdbcType=VARCHAR})
  </insert>
</mapper>